$m: 70px;
$gold: #f2c94c;

%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
  color: inherit;
  scrollbar-width: none;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Proxima Nova', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy', sans-serif;
}

section {
  width: 100%;
  padding: (80rem/16) $m;
}
#hero {
  padding: 0;
  min-height: 100vh;
  background-image: url('./img/bg.jfif');
  background-blend-mode: overlay;
  background-position: -80px -48vh;
  background-size: auto 200vh;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.075);
  &::after {
    content: '*Турция';
    position: absolute;
    right: $m;
    bottom: (167rem/16);
    color: white;
  }
}

.blured {
  backdrop-filter: blur(5px);
  * {
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/noize.png');
    background-size: 500px 150px;
  }
}
.gold {
  color: $gold;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: (20rem/16) $m;
  color: white;
  @extend %flex;
  input,
  label {
    display: none;
  }
}

.logo {
  @extend %flex;
  flex-wrap: nowrap;
  svg {
    margin-right: (10rem/16);
  }
  h2 {
    font-size: (26rem/16);
    margin-right: (30rem/16);
  }
  span {
    padding-left: (30rem/16);
    border-left: 1px rgba(255, 255, 255, 0.2) solid;
    font-size: (12rem/16);
    color: rgba(255, 255, 255, 0.7);
  }
}
nav {
  display: block;
  ul {
    @extend %flex;
    list-style: none;
    li:last-of-type {
      margin-right: -(15rem/16);
    }
    a {
      padding: (5rem/16) (15rem/16);
      font-size: (15rem/16);
      transition: 0.25s;
    }
  }
}
h1 {
  color: white;
  font-size: (90rem/16);
  width: (512rem/16);
  line-height: 100%;
  overflow: hidden;
}
#hero__content {
  top: (140rem/16);
  clear: both;
  text-align: center;
  color: white;
  * {
    margin: 0 auto;
  }
  p {
    margin-top: (40rem/16);
    font-size: (26rem/16);
    line-height: 140%;
    width: 100%;
    max-width: (513rem/16);
    letter-spacing: -0.5px;
    margin-bottom: (45rem/16);
    font-weight: 500;
    ins {
      font-family: 'Playfair Display', serif;
    }
  }
  .instagram {
    top: 4px;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    padding: 0.19rem 0.3rem 0.14rem 0.26rem;
    border-radius: 0.5rem;
  }
  a {
    background-color: #fff;
    color: #000;
    display: block;
    width: (337rem/16);
    padding: (24rem/16) (52rem/16);
    font: (15rem/16) 'Gilroy', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
#bot {
  position: absolute;
  width: calc(100% - 70px);
  bottom: 0;
  right: 0;
  color: white;
  h4 {
    font-size: (18rem/16);
    line-height: 100%;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-bottom: (20rem/16);
    font-weight: 500;
  }
  #bot__body {
    @extend %flex;
    min-height: (140rem/16);
    padding: (20rem/16) (2 * $m) (20rem/16) 50px;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    li {
      padding: (25rem/16) (50rem/16);
      display: flex;
      align-items: center;
      width: 33.3%;
      font-family: 'Proxima Nova';
      font-size: (18rem/16);
      line-height: 140%;
      &:not(:last-child) {
        border-right: 1px rgba(255, 255, 255, 0.2) solid;
      }
      svg {
        margin-right: (30rem/16);
      }
    }
  }
}
#gallery {
  input {
    display: none;
  }
  overflow-x: unset;
  * {
    overflow-x: unset;
  }
}
.btn {
  margin: 0;
  border: none;
  padding: (20rem/16) (74rem/16);
  background: linear-gradient(128.38deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%),
    #f2c94c;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: (18rem/16);
  z-index: 1;
  letter-spacing: 1px;
  font-size: (15rem/16);
  transition: 0.25s;
  &::before {
    content: '';
    position: absolute;
    top: (10rem/16);
    left: 8.5%;
    width: 83%;
    height: 83%;
    background: linear-gradient(
        128.14deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.1) 100%
      ),
      #f2c94c;
    opacity: 0.4;
    filter: blur(1rem);
    z-index: -1;
    transition: 0.25s;
  }
  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }
}
.slider {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  overflow-y: scroll;
  height: 100vw;
  width: 620px;
  padding-bottom: $m;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  transition: 0.5s;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.9);
  img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100vh;
  }
  &::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: '\f00d';
    color: white;
    font-family: 'FontAwesome';
    font-size: 2rem;
    z-index: 500;
    text-shadow: black 0 0 3px;
  }
}
.slide {
  transition: 0.5s;
  display: none;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
  transform: rotate(90deg);

  .pic {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '\f065';
      box-sizing: border-box;
      text-align: center;
      font-family: 'FontAwesome';
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 200px;
      vertical-align: middle;
      top: 0;
      left: 0;
      z-index: 2;
      font-size: 1.4rem;
      background: linear-gradient(
          123.69deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.1) 100%
        ),
        rgba(242, 200, 76, 0.9);
      transition: 0.25s;
      opacity: 0;
      color: #333333;
    }
    &::before {
      content: 'Увеличить';
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      width: 100%;
      font-family: 'Proxima Nova', sans-serif;
      font-size: (15rem/16);
      letter-spacing: 1px;
      text-transform: uppercase;
      top: calc(50% + 1.3rem);
      left: 0;
      z-index: 3;
      transition: 0.25s;
      opacity: 0;
      color: #333333;
      font-weight: bold;
    }
    &:hover {
      &::after,&::before {
        opacity: 1;
      }
    }
  }
  .pic.x1y2 {
    grid-column: 3 /4;
    grid-row: 1 / 3;
    &::after {
      line-height: 400px;
    }
  }
  .pic.x2y2 {
    grid-column: 1 /3;
    grid-row: 2 / 4;
    &::after {
      line-height: 400px;
    }
    &::before{
      top: calc(50% + .9rem);

    }
  }
}

#family:checked ~ .slider > .family,
#lovestory:checked ~ .slider > .lovestory,
#lifestyle:checked ~ .slider > .lifestyle,
#fashion:checked ~ .slider > .fashion,
#glamour:checked ~ .slider > .glamour {
  display: grid;
}
#family:checked ~ .controls > label[for='family'],
#lovestory:checked ~ .controls > label[for='lovestory'],
#lifestyle:checked ~ .controls > label[for='lifestyle'],
#fashion:checked ~ .controls > label[for='fashion'],
#glamour:checked ~ .controls > label[for='glamour'] {
  background: linear-gradient(128.38deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%),
    #f2c94c;
  border-color: white;
  &::before {
    transform: scale(1);
  }
}

.section__title {
  text-align: center;
  font-size: (18rem/16);
  text-transform: uppercase;
  letter-spacing: (10rem/16);
  margin-bottom: (17rem/16);
}
.section__subtitle {
  text-align: center;
  font-size: (42rem/16);
  margin-bottom: (50rem/16);
}
.controls {
  @extend %flex;
  width: 100%;
  justify-content: center;
  margin-bottom: (50rem/16);
  .btn {
    padding: (20rem/16) (30rem/16);
    margin: (10rem/16);
    background: white;
    border: 2px #e9e9e9 solid;
    &::before {
      transform: scale(0);
    }
  }
}
#gallery__content {
  height: 776px;
}
#prices {
  background-color: #202020;
  color: white;

  padding: 5rem calc(4.375rem - 10px);
  > ul {
    list-style: none;
    @extend %flex;
  }
}
.card {
  padding: 10px;
  width: 30%;
  padding: (20rem/16) 0;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  margin: 10px;
  span {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
    font-size: (15rem/16);
    font-weight: 800;
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: (34rem/16);
    margin-bottom: (20rem/16);
  }
  ul {
    display: block;
    width: 100%;
    padding: (40rem/16) (40rem/16);
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      text-align: start;
      padding-left: (24rem/16);
      font-size: (18rem/16);
      margin: 10px;
      line-height: 140%;
      vertical-align: start;
      color: rgba(255, 255, 255, 0.8);
      &::before {
        content: '';
        background-image: url('./img/check.svg');
        height: 1rem;
        width: 1rem;
        background-position: center;
        position: absolute;
        top: 0.35rem;
        left: 0;
        background-repeat: no-repeat;
      }
      &.disabled {
        color: rgba(255, 255, 255, 0.2);
        &::before {
          filter: brightness(10);
          opacity: 0.2;
        }
      }
    }
  }
  .price {
    font-weight: black;
    color: white;
    font-size: (36rem/16);
    display: block;
    line-height: 100%;
    margin: (30rem/16) 0 (23rem/16);
  }
}
#prime {
  border-color: white;
}

@media (max-height: 40rem), (max-width: 85rem) {
  #bot {
    display: none;
  }
  #hero::after {
    bottom: 2rem;
  }
  #hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 72rem) {
  #prices {
    justify-content: center;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 42rem) {
  #prices,
  #gallery {
    padding: 5rem calc(1.375rem - 10px);
  }
  #hero {
    h1 {
      font-size: 12vw;
      width: unset;
    }
    p {
      font-size: 4.5vw;
    }
    a {
      font-size: 3.5vw;
      padding: 3vw 5vw;
      width: unset;
    }
  }
  .controls {
    flex-direction: column;
    width: 100%;
  }
  #gallery__content {
    height: calc(776px + 18rem) !important;
  }
}
@media (max-width: 57.5rem) {
  header {
    padding: 20px 10px;
    height: unset;
    nav {
      ul li:last-of-type {
        padding: 0.5rem;
        margin-right: 0;
      }
    }
    label {
      display: block;
      z-index: 999;
      position: fixed;
      top: 1rem;
      right: 1rem;
      font-family: 'FontAwesome';
      font-size: 2rem;
      &::after {
        content: '\f00d';
      }
    }

    #menu-checkbox:checked + label {
      &::after {
        content: '\f0c9';
      }
    }
    #menu-checkbox:checked + label + #links {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      position: fixed;
    }
    #menu-checkbox + label + #links {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      height: 16rem;
      position: relative;
    }

    #links {
      transform-origin: top;
      left: 0;
      margin-top: 1rem;
      width: 100vw;
      height: 0px;
      z-index: 10;
      flex-direction: column;
      li {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 67.625rem) {
  #gallery__content {
    height: calc(776px + 3rem);
  }
}

@media (max-width: 29rem) {
  .logo span {
    display: none;
  }
}
